<div class="row">
    <span class="title">
        Adicionar novo tópico
    </span>
</div>
<div class="row">
    <label for="">Digite o título do novo tópico</label>
    <input type="text">
    <div class="btns">
        <button class="btn" style="background-color: #ffffff;border: 1px #1E5799 solid; color: #1E5799;"
            (click)="onClose.emit(true)">Cancelar</button>
        <button class="btn"
            style="background-color: #1E5799;border: 1px #1E5799 solid; color: #ffffff;">Adicionar</button>
    </div>

</div>