<div class="alter-rule">
  <div class="row">
    <label>Idade máxima: </label>
    <input
      type="text"
      name="ageMax"
      class="form-control text-start"
      placeholder="Idade máxima"
      [(ngModel)]="form().ageMax"
    />
  </div>
  <div class="row">
    <label>Idade mínima: </label>
    <input
      type="text"
      name="ageMin"
      class="form-control text-start"
      placeholder="Idade mínima"
      [(ngModel)]="form().ageMin"
    />
  </div>
  <div class="row">
    <label>Idade exata: </label>
    <input
      type="text"
      name="exacliAge"
      class="form-control text-start"
      placeholder="Idade exata"
      [(ngModel)]="form().exacliAge"
    />
  </div>
  <div class="row">
    <label>Departamento: </label>
    <input
      type="text"
      name="departure"
      class="form-control text-start"
      placeholder="Escreva departamento"
      [(ngModel)]="form().departure"
    />

  </div>
  <div class="row">
    <label>Gênero: </label>
    <select (change)="selectGender($event.target)">
      <option value="">-</option>
      <option [selected]="form().genderType == 'masculino'" value="masculino">Masculino</option>
      <option [selected]="form().genderType == 'feminino'" value="feminino">Feminino</option>
    </select>
  </div>
  <div class="row">
    <div class="btns">
      <button
        class="btn"
        style="
          background-color: #ffffff;
          border: 1px #1e5799 solid;
          color: #1e5799;
        "
        (click)="onClose.emit(true)"
      >
        Cancelar
      </button>
      <button
        class="btn"
        style="
          background-color: #1e5799;
          border: 1px #1e5799 solid;
          color: #ffffff;
        "
        (click)="AlterRuleSubTopic()"
      >
        Adicionar
      </button>
    </div>
  </div>
</div>