.dash-header {
  background-color: var(--manual---primary--03);
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;

  .menu-itens {
    display: flex;
    text-decoration: none;
    color: #f5f7f9;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    gap: 25px;
    align-items: center;

    a {
      color: #f5f7f9;
    }

    a label {
      cursor: pointer;
    }

    label {
      cursor: pointer;
    }
  }

  .logo img {
    width: 43px;
    height: 43px;
    gap: 0px;
    opacity: 0px;
    margin: 10px;
    cursor: pointer;
  }

  .user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--white);
    border: 1px solid #447bf180;
    align-content: center;
    text-align: center;
    background-color: #447bf180;
    margin: 10px;
  }

  .user:hover {
    background-color: #447bf1;
    cursor: pointer;
  }

  .material-symbols-outlined {
    font-size: 36px;
    color: white;
    cursor: pointer;
  }
}

.children-itens {
  background-color: var(--white);
  position: absolute;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  gap: 25px;

  label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #1e5799;
    padding: 10px 2rem;
    cursor: pointer;
  }
}

a,
label {
  cursor: pointer;
}

.user-info{
  position: absolute;
  top: 80px;
  width: 120px;
  background-color: #5fa9ff;
  a,label{
    text-decoration: none;
    color: #3c7ac2;
  }
  a:hover{
    color: #ffffff;
  }
}