<div class="dash-header" #Menu>
    <div class="logo"><img src="../../assets/media/church.png" alt="" routerLink=""></div>
    @if (haveMenuItens == true) {
    <div class="menu-itens">
        @for (item of menuItens; track $index) {
        @if(item.routerLink){
        <a [routerLink]="item.routerLink?item.routerLink:''">
            <label>{{ item.label }}</label>
        </a>
        }@else {
        <label (click)="openSubMenu(item.id);selected = !selected">{{ item.label }}</label>
        }
        }
    </div>
    }
    <div class="user">{{getInitials()}}</div>
</div>
@if (subMenu.length > 0 && haveMenuItens == true) {
<div class="children-itens" #childrenMenu>
    @for (children of subMenu; track $index) {
    <a [routerLink]="children.routerLink">
        <label>{{ children.label }}</label>
    </a>
    }
</div>
}