.card {
  margin: 10px 4px;
  background: var(--kt-dark-inverse);
  box-shadow: 0px 0px 40px #4c577d05;
  border-radius: 10px;
}

.title-card {
  margin: 5px 0 25px 0;
  text-align: center;
  letter-spacing: 0.56px;
  color: var(--bs-body-color);
  font-weight: bold;
  font-size: var(--big-font);
}

.card-body {
  max-height: 84vh;
  padding: 0px;
  height: 100%;
}

.icon-info {
  font-size: var(--big-font);
  margin-left: 10px;
}

.noPadding {
  padding: 0 !important;
}
