.realty {
  padding: 40px;

  .header-line {
      margin-bottom: 20px;
  }

  .form-info,
  .form-detail {
      margin-bottom: 30px;
  }
  H3{
      color: #DEDDE4;
      font-size: var(--h4-font-size);
  }
  .btn{
      display: flex;
      justify-content: center;
      gap: 10px;
  }
  .btn-info{
      display: flex;
      justify-content: end;
      background-color: transparent;
      color: var(--primary-color);
      .btn-title{
          display: flex;
          align-items: center;
          cursor: pointer;
          font-size: var(--h4-font-size);
          font-weight: 400;
      }
  }
}
