<div *ngIf="open">
  <div class="bg bg-black" (click)="response(0)"></div>
  <div class="modal">
    <div class="content">
      <div class="icon-description">
        <i class="yellow fa-light {{ icon }}"></i>
        <p>{{ description }}</p>
        @if(observation){
          <app-form-label
          class="col"
          titleLabel="Motivo"
          [required]="true"
        >
          <input
            type="text"
            class="form-control"
            [(ngModel)]="observationText"
          />
          <app-form-msg-error
            [value]=""
            [type]="3"
          ></app-form-msg-error>
        </app-form-label>
        }
      </div>
      <div class="btns">
        <button BlockClicks class="btn btn-primary" (click)="response(1)">
          {{ messageBtnYes }}
        </button>
        <button *ngIf="messageBtnNo" class="btn btn-light" (click)="response(0)">
          {{ messageBtnNo }}
        </button>
      </div>
    </div>
  </div>
</div>
