<div class="resident">
  @defer () {
  <app-header-title class="header-line" title="Linkar Colaborador" textBtn="VER TODOS MORADORES" titleEmphasis="Morador"
    description="Preencha corretamente com as informações para linkar morador." color="#1E5799" colorLight="#EBF4FF"
    router="patrimony/resident"></app-header-title>
  } @defer () {
  <app-card [hasPadding]="true">
    <div class="form-info">
      <h3>INFORMAÇÕES GERAIS</h3>
      <div class="row">
        @if(edit){
        <app-form-label class="col" titleLabel="Código do morador">
          <input type="text" class="form-control" id="collaboratorId" name="collaboratorId" [value]="form.collaboratorId" disabled  readonly/>
        </app-form-label>
        }@else {
          <app-form-label class="col" [required]="true" titleLabel="Colaborador">
            <p-dropdown [options]="colaboratorNames()" [(ngModel)]="selectedColaborator" 
              placeholder="Selecione o colaborador" [filter]="true" [style]="{'padding': '.375rem .75rem', 'width': '100%'}"/>
            <app-form-msg-error [value]="selectedColaborator" [type]="3"></app-form-msg-error>
          </app-form-label>
        }
      </div>
    </div>
    <div class="form-detail">
      <h3>DETALHES DO IMÓVEL</h3>
      <div class="row">
        @if (edit) {
          <app-form-label class="col" titleLabel="Código da propriedade">
            <input type="text" class="form-control" id="propertyId" name="propertyId" [value]="form.propertyId" disabled  readonly/>
          </app-form-label>
        }@else {
          <app-form-label class="col-6" [required]="true" titleLabel="Imóvel">
            <p-dropdown [options]="properties()" [(ngModel)]="selectedProperty" placeholder="Selecione uma propriedade"
              [filter]="true" [style]="{'padding': '.375rem .75rem', width: '100%'}" />
            <app-form-msg-error [value]="selectedProperty" [type]="3"></app-form-msg-error>
          </app-form-label>
        }

        <app-form-label class="col-3" titleLabel="Data de entrada" [required]="true">
          <input type="date" class="form-control" id="entryAt" name="entryAt" [(ngModel)]="form.entryAt" />
          <app-form-msg-error [value]="form.entryAt" [type]="3"></app-form-msg-error>
        </app-form-label>

        <app-form-label class="col-3" titleLabel="Data de saída">
          <input type="date" class="form-control" id="departureAt" name="departureAt" [(ngModel)]="form.departureAt" />
          <app-form-msg-error [value]="form.departureAt" [type]="3"></app-form-msg-error>
        </app-form-label>

      </div>
    </div>

    <div class="btn">
      <button type="button" class="btn btn-light" (click)="cancel()"> Cancelar </button>
      <button type="button" class="btn btn-primary" (click)="edit==true?updateResident():saveResident()"> Salvar </button>
    </div>
  </app-card>
  }
</div>
