<div class="resident">
  @defer () {
  <app-header-title class="header-line" title="Linkar Colaborador" textBtn="VER TODOS MORADORES" titleEmphasis="Morador"
    description="Preencha corretamente com as informações para linkar morador." color="#1E5799"
    colorLight="#EBF4FF"></app-header-title>
  } @defer () {
  <app-card [hasPadding]="true">
    <div class="form-info">
      <h3>INFORMAÇÕES GERAIS</h3>
      <div class="row">
        <app-form-label class="col" [required]="true">
          <p-dropdown [options]="colaboratorNames()" [(ngModel)]="selectedColaborator"
            placeholder="Selecione o colaborador" [filter]="true" />
          <app-form-msg-error [value]="selectedColaborator" [type]="1"></app-form-msg-error>
        </app-form-label>
      </div>
    </div>
    <div class="form-detail">
      <h3>DETALHES DO IMÓVEL</h3>
      <div class="row">
        <app-form-label class="col-4" [required]="true">
          <p-dropdown [options]="properties()" [(ngModel)]="selectedProperty" placeholder="Selecione uma propriedade"
            [filter]="true" />
          <app-form-msg-error [value]="selectedProperty" [type]="1"></app-form-msg-error>
        </app-form-label>

        <app-form-label class="col-4" titleLabel="Data de entrada" [required]="true">
          <input type="date" class="form-control" id="entryAt" name="entryAt" [(ngModel)]="form.entryAt" />
          <app-form-msg-error [value]="form.entryAt" [type]="3"></app-form-msg-error>
        </app-form-label>

        <app-form-label class="col-4" titleLabel="Data de saída">
          <input type="date" class="form-control" id="departureAt" name="departureAt" disabled="disabled"
            [(ngModel)]="form.departureAt" />
          <app-form-msg-error [value]="form.departureAt" [type]="3"></app-form-msg-error>
        </app-form-label>

      </div>
    </div>

    <div class="btn">
      <button type="button" class="btn btn-light" (click)="cancel()"> Cancelar </button>
      <button type="button" class="btn btn-primary" (click)="saveResident()"> Salvar </button>
    </div>
  </app-card>
  }
</div>