.out {
  margin: 5rem 2rem;

  .title {
    font-size: var(--h6-font);
    font-weight: 600;
  }

  .title-table{
    font-weight: 600;
    font-size: var(--h6-font);
  }

  .item-table{
    font-size: var(--body-small-font);
  }

  .data-table-reports{
    overflow-x: auto;
    overflow-y: hidden;
    width: 93vw;
  }

  .phone{
    min-width: 12rem;
  }

  .un{
    min-width: 14rem;
    position: absolute;
    background-color: white;
    height: 2.5rem;
    align-content: space-evenly;
  }

  .name{
    min-width: 20rem;
    position: absolute;
    left: 14rem;
    background-color: white;
    height: 2.5rem;
    align-content: space-evenly;
  }

  .actions {
    min-width: 6rem;
  }

  .address{
    min-width: 35rem;
    left: 32rem;
  }

  .photovoltaic,
  .iptu,
  .type{
    min-width: 8rem;
  }

  .gas{
    min-width: 6rem;
  }

  .value,
  .code-energy,
  .code-water,
  .water,
  .inscription{
    min-width: 16rem;
  }

  .label-property {
    color: #17b582;
  }

  .add-property {
    background-color: var(--manual---primary--03);
    padding: 0.5rem 2rem;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: var(--caption-font);
    display: flex;
    align-items: center;
    height: 3rem;

    label {
      margin: 0 0.25rem;
    }
  }

  .search {
    width: 30rem;
  }

  .checkbox {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    align-items: center;

    input {
      background-color: var(--bs-gray-200);
      border: 0;
    }
  }

  .border-style {
    border-bottom: 1px solid #F9F8FF;
    height: 3rem;
    align-items: center;
  }

  .action {
    border-radius: 5px;
    border: 0;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    padding: 3px;
  }

  .edit {
    background-color: #F8F8F9;
    color: #9795A0;
  }

  .visibility {
    background-color: #E6F4FF;
    color: #1E95FE;
  }

  .delete {
    background-color: #FFEAEA;
    color: #FF4436;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
  }

  .status {
    font-size: var(--text-font);
    border-radius: 50px;
    padding: 0.25rem 1.25rem;
  }

  .status-red {
    background-color: #FFEAEA;
    color: #FF4436;
  }

  .status-green {
    background-color: #E5FAF5;
    color: #5CB70B;
  }

  .status-yellow {
    background-color: #FFFBEA;
    color: #FFD32A;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .modal-content {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .material-symbols-outlined {
      cursor: pointer;
      position: absolute;
      right: 25px;
    }
  }

  .btns button {
    margin: 1rem 1rem 0;
  }
}
