<div class="out">
  <div class="property">
    <span class="title all">Todos os </span>
    <span class="title label-property"> Imóveis</span>
  </div>
  <div class="d-flex justify-content-between">
    <div class="search">
      <app-search (result)="searchByName($event)"></app-search>
    </div>
    <div class="d-flex justify-content">
      <div class="filter">
        <app-filter (ApplyFilter)="filterProperty($event)"></app-filter>
      </div>
      <div class="filter">
        <button class="add-property" (click)="addNew()">
          <span class="material-symbols-outlined"> add_circle </span>
          <label>ADICIONAR NOVO</label>
        </button>
      </div>
    </div>
  </div>

  <!-- tabela com todos os imóveis -->
  <div class="card-property">
    <app-card [hasPadding]="true">
      <div class="data-table-reports">
        <div class="row thead text-start text-muted fw-normal gs-0 border-style">
          <div class="d-flex">
            <div class="checkbox">
              <input class="form-check-input" type="checkbox" id="checkAll" />
            </div>
            <div class="col title-table">Código</div>
            <div class="col-4 title-table">Nome do Edifício</div>
            <div class="col title-table">Proprietário</div>
            <div class="col-2 title-table">Tipo</div>
            <div class="col title-table">Status</div>
            <div class="col-2 title-table"></div>
          </div>
        </div>
        @for (property of propertys; track $index) {
        <div class="reports">
          <div class="row tbody border-style">
            <div class="d-flex list align-items-center">
              <div class="checkbox">
                <input [id]="'checkbox' + property.id" class="form-check-input" type="checkbox" />
              </div>
              <div style="display: contents">
                <div class="col person-name --kt-text-gray-900 text-hover-primary fw-semibold">
                  {{ property.id }}
                </div>
                <div class="col-4">
                  {{ property.propertyName}}
                </div>
                <div class="col">
                  {{ property.ownerName }}
                </div>
                <div class="col-2">
                  {{ property.propertyType }}
                </div>
                <div class="col">
                  @if(property.status === 0) {
                  <label class="status status-red">Ocupado</label>
                  }
                  @else if (property.status === 1) {
                  <label class="status status-green">Desocupado</label>
                  }
                  <!-- @else {
                        <label class="status status-yellow">{{ property.Status.toString() }}</label>
                        } -->
                </div>
                <div class="col-2">
                  <button class="action edit">
                    <span class="material-symbols-outlined" (click)="editProperty(property)"> edit </span>
                  </button>
                  <button class="action visibility">
                    <span class="material-symbols-outlined"> visibility </span>
                  </button>
                  <button class="action delete">
                    <span class="material-symbols-outlined" (click)="deletePropertyById(property.id)"> delete </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </app-card>
  </div>
</div>
<app-modal [open]="modalOpen" icon="e5cd" description="Apagar imóvel?" messageBtnYes="Sim" messageBtnNo="Cancelar"
  (result)="onclickCloseModal($event)"></app-modal>

@if (openModalEdit) {
<div class="modal">
  <div class="modal-content">
    <span class="material-symbols-outlined" (click)="openModalEdit = !openModalEdit">
      close
    </span>
    <app-form-property [realty]="property" (onClose)="openModalEdit = !$event"></app-form-property>
  </div>
</div>
}