<div class="out">
  <div class="property">
    <span class="title all">Todos os </span>
    <span class="title label-property"> Imóveis</span>
  </div>
  <div class="d-flex justify-content-between">
    <div class="search">
      <app-search (result)="searchByName($event)"></app-search>
    </div>
    <div class="d-flex justify-content">
      <div class="filter">
        <app-filter (ApplyFilter)="filterProperty($event)"></app-filter>
      </div>
      <div class="filter">
        <button class="add-property" (click)="addNew()">
          <span class="material-symbols-outlined"> add_circle </span>
          <label>ADICIONAR NOVO</label>
        </button>
      </div>
    </div>
  </div>

  <!-- tabela com todos os imóveis -->
  <div class="card-property">
    <app-card [hasPadding]="true">
      <div class="data-table-reports">
        <div
          class="row thead text-start text-muted fw-normal gs-0 border-style"
        >
          <div class="d-flex">
            <div class="checkbox">
              <input class="form-check-input" type="checkbox" id="checkAll" />
            </div>
            <div class="col title-table">Código</div>
            <div class="col-4 title-table">Nome do Edifício</div>
            <div class="col title-table">Proprietário</div>
            <div class="col-2 title-table">Tipo</div>
            <div class="col title-table">Status</div>
            <div class="col-2 title-table"></div>
          </div>
        </div>
        <div class="reports" *ngFor="let report of filteredProperties">
          <div class="row tbody border-style">
            <div class="d-flex list align-items-center">
              <div class="checkbox">
                <input
                  [id]="'checkbox' + report.id"
                  class="form-check-input"
                  type="checkbox"
                />
              </div>
              <div style="display: contents">
                <div
                  class="col person-name --kt-text-gray-900 text-hover-primary fw-semibold"
                >
                  {{ report.id }}
                </div>
                <div class="col-4 date">
                  {{ report.propertyName }}
                </div>
                <div class="col date">
                  {{ report.ownerName }}
                </div>
                <div class="col-2 date">
                  {{ report.propertyType }}
                </div>
                <div class="col">
                  @if(report.status == 'Ocupado'){
                    <label class="status status-red">{{ report.status }}</label>
                  } @else if (report.status == 'Desocupado'){
                    <label class="status status-green">{{ report.status }}</label>
                  } @else {
                    <label class="status status-yellow">{{ report.status }}</label>
                  }
                </div>
                <div class="col-2 date">
                  <button class="action edit">
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <button class="action visibility">
                    <span class="material-symbols-outlined"> visibility </span>
                  </button>
                  <button class="action delete" (click)="onclickOpenModal()">
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
<app-modal
  [open]="modalOpen"
  icon="e5cd"
  description="Apagar imóvel?"
  messageBtnYes="Sim"
  messageBtnNo="Cancelar"
  (result)="onclickCloseModal($event)"
></app-modal>
