<div class="dash">
    <div class="dash-header">
        <div class="logo"><img src="../../../assets/media/church.png" alt=""></div>
        <div class="user">FN</div>
    </div>
    <div class="main">
        <h1 class="welcome">Bem-Vindo, <span class="user">{{userName}}</span></h1>
        <h3>Explore o painel administrativo de cada aplicaçäo ao clicar na opçäo correspondente.</h3>
        <hr>
        <div class="cards">
            <div class="card">
                <div class="icon"><span class="material-symbols-outlined">assignment_ind</span></div>
                <div class="text">
                    <h2>Manual de</h2>
                    <h1><strong>ORIENTAÇÖES</strong></h1>
                </div>
            </div>
            <div class="card">
                <div class="icon"><span class="material-symbols-outlined">holiday_village</span></div>
                <div class="text">
                    <h2>Gestäo de </h2>
                    <h1><strong>PATRIMONIO</strong></h1>
                </div>
            </div>
        </div>
    </div>
</div>