<div class="new-subtopic">
  <div class="row">
    <h2>
      Detalhes do subtópico
    </h2>
  </div>
  <div class="row title">
    <input type="text" name="guidTopic" class="form-control text-start" placeholder="Escreva o título do Subtópico"
      [(ngModel)]="titleSuTtopic" />
  </div>
  <div class="row subtitle">
    <textarea class="form-control" id="txtArea" rows="3" placeholder="Digite aqui uma breve descrição."
      [(ngModel)]="subTopicDescription"></textarea>
  </div>
  <div class="row content">
    <quill-editor [styles]="{height: '200px'}" placeholder="Digite aqui o conteúdo." [(ngModel)]="subTopicContent"
      (onEditorChanged)="changedEditor($event)" (onEditorCreated)="created($event)"></quill-editor>
  </div>
  <div class="row">
    <div class="btns">
      <button class="btn" style="
          background-color: #ffffff;
          border: 1px #1e5799 solid;
          color: #1e5799;
        " (click)="onClose.emit(true)">
        Cancelar
      </button>
      <button class="btn" style="
          background-color: #1e5799;
          border: 1px #1e5799 solid;
          color: #ffffff;
        " (click)="createSubTopic()">
        Adicionar
      </button>
    </div>
  </div>
</div>