.patrymony {
  .children {
    transition: width 0.3s ease;
    padding: 8vh 6vw;

    p {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      color: #1B1731;
    }

    strong {
      font-family: Inter;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;

      .name {
        color: #1E5799;
      }
    }

    .cards {
      display: flex;
    }

    .mb {
      margin-bottom: 30px;
    }

    .card {
      padding: 10px 20px 0px 20px;

      .title {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: #081B28;
        margin-bottom: 30px;
      }

      h2 {
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
      }

      h1 {
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        text-align: left;
        color: #FBBF24;
      }

      p {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
      }

      img {
        position: absolute;
        right: 20px;
        top: 20px
      }

      .title-service {
        display: flex;
      }
    }

    .card-report {
      padding: 20px 20px 0px 30px;

      .reports {
        display: grid;
        gap: 25px;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);

        .item {
          display: flex;
          gap: 5px;

          span:first-child {
            width: 40px;
            height: 40px;
            font-size: 2rem;
            font-weight: 700;
            border-radius: 5px;
            background-color: #EBF4FF;
            color: #1E5799;
          }

          span:last-child {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #1B1731;
          }
        }
      }
    }
  }
}