<app-menu-bar [haveMenuItens]="false"></app-menu-bar>
<div _ngcontent-ng-c677104416="" class="ng-star-inserted">
  <div _ngcontent-ng-c677104416="" class="container-xxl">
    <h1 _ngcontent-ng-c677104416="" class="fw-medium mb-3 mt-3">
      Política de Privacidade
    </h1>
    <div _ngcontent-ng-c677104416="" class="lh-lg fs-6">
      <div class="WordSection1">
        <p class="MsoNoSpacing">
          <a
            ><b
              ><span
                >POLÍTICA DE TRATAMENTO DE DADOS DOS CANDIDATOS À VAGAS DE
                TRABALHO E VOLUNTARIADO DA REDE INSTITUCIONAL ADVENTISTA DO
                SÉTIMO DIA</span
              ></b
            ></a
          >
        </p>
        <p class="MsoNormal">
          <span
            >Esta Política de tratamento de dados tem o objetivo de informá-lo
            como a Igreja Adventista do Sétimo Dia e suas entidades utilizam
            suas informações. Essa utilização dos dados pessoais, é chamada de
            “tratamento” conforme a Lei nº 13.709 – Lei Geral de Proteção de
            Dados Pessoais (LGPD) e será feita para uma finalidade específica
            vinculada ao seu consentimento e pelo prazo selecionado no
            Portal.</span
          >
        </p>
        <p class="MsoNoSpacing">
          <b><span>I - CONTROLADOR</span></b>
        </p>
        <p class="MsoNormal">
          <span
            >O controlador dos dados, ou seja, a pessoa jurídica (ou organização
            que é responsável pelos seus dados é a Confederação das Uniões
            Brasileiras dos Adventistas do Sétimo Dia.</span
          >
        </p>
        <p class="MsoNoSpacing">
          <b
            ><span
              >II - DADOS PESSOAIS QUE SERÃO TRATADOS PELO CONTROLADOR</span
            ></b
          >
        </p>
        <p class="MsoNormal">
          <span
            >Os dados que coletamos e tratamos para executar seu vínculo conosco
            são:
          </span>
        </p>
        <p class="MsoListParagraphCxSpFirst">
          <span>a)<span>&nbsp;&nbsp;&nbsp; </span></span
          ><span
            >Dados de identificação e relativos à identidade (por ex., nome
            próprio, sexo, nacionalidade, data e local de nascimento,
            fotografias), e informações de contato (por ex., endereço postal,
            endereço de e-mail e número de telefone);</span
          >
        </p>
        <p class="MsoListParagraphCxSpLast">
          <span>b)<span>&nbsp;&nbsp;&nbsp; </span></span
          ><span
            >Informações de caráter social para finalidade de conhecimento
            cultural, informações acadêmicas ou profissionais (por ex.,
            diplomas, currículo, plano de carreira, avaliações e apreciações
            anuais);</span
          >
        </p>
        <p class="MsoNoSpacing">
          <b
            ><span
              >III – FINALIDADES E HIPÓTESES DO TRATAMENTO DOS DADOS</span
            ></b
          >
        </p>
        <p class="MsoNormal">
          <span
            >O tratamento dos dados pessoais listados neste termo tem
            recrutamento e seleção de colaboradores e voluntários para a Rede
            Institucional da Igreja Adventista e o tratamento se dará após o seu
            consentimento.</span
          >
        </p>
        <p class="MsoNoSpacing">
          <b><span>IV - COMPARTILHAMENTO DE DADOS</span></b>
        </p>
        <p class="MsoNormal">
          <span
            >Compartilharemos seus dados pessoais entre os agentes de tratamento
            do Grupo Institucional da Igreja Adventista do Sétimo Dia e se for o
            caso, com órgãos públicos, para as finalidades listadas neste termo,
            observados os princípios e as garantias estabelecidas pela
            Legislação.</span
          >
        </p>
        <p class="MsoNoSpacing">
          <b><span>V - SEGURANÇA DOS DADOS</span></b>
        </p>
        <p class="MsoNormal">
          <span
            >Nós nos responsabilizamos pela manutenção de medidas de segurança,
            técnicas e administrativas aptas a proteger os seus dados pessoais
            de acessos não autorizados e de situações acidentais ou ilícitas de
            destruição, perda, alteração, comunicação ou qualquer forma de
            tratamento inadequado ou ilícito.
          </span>
        </p>
        <p class="MsoNormal">
          <span
            >Evidentemente que nenhum sistema ou operação são 100% seguros e é
            possível que haja algum acesso criminoso ou que sejamos vítimas de
            incidentes que extrapolam as medidas implementadas, no entanto,
            sempre que acontecer algum incidente de segurança, comunicaremos a
            você e as autoridades governamentais e regulatórias, quando puder
            acarretar risco ou dano relevante.</span
          >
        </p>
        <p class="MsoNoSpacing">
          <b><span>VI - TÉRMINO DO TRATAMENTO DOS DADOS</span></b>
        </p>
        <p class="MsoNormal">
          <span
            >Manteremos os dados pessoais durante o período que você selecionou
            no seu consentimento.</span
          >
        </p>
        <p class="MsoNoSpacing">
          <b><span>VII - DIREITOS DO TITULAR</span></b>
        </p>
        <p class="MsoNormal">
          <span
            >Você tem direito de obter informações sobre o tratamento dos seus
            dados, a confirmação da existência de tratamento, o acesso aos
            dados, a correção de dados incompletos, inexatos ou desatualizados,
            a anonimização, o bloqueio ou a eliminação de dados desnecessários,
            excessivos ou tratados em desconformidade coma lei, compreendendo
            que dada a natureza das operações, muitos dados não poderão ser
            eliminados.</span
          >
        </p>
        <p class="MsoNormal">
          <span
            >Este contato pode ser feito ao departamento de recursos humanos,
            Secretaria, por meio do portal apropriado ou pelo e-mail: </span
          ><a href="mailto:privacidade@adventistas.org"
            ><span>privacidadeadventistas.org</span></a
          ><span>.</span>
        </p>
        <p class="MsoNormal">
          <span
            >Para atendermos sua solicitação será necessário informar: nome
            completo, número do documento, motivo do contato (este e-mail será
            somente para informações acerca do tratamento dos dados, portanto,
            qualquer outra requisição deverá ser feita pelo canal
            correspondente).</span
          >
        </p>
        <p class="MsoNoSpacing">
          <b><span>VIII - ENCARREGADO DE DADOS</span></b>
        </p>
        <p class="MsoNormal">
          <span
            >O encarregado dos dados pessoais para esta política é a DPO
            Stéfanne Amorim Ortelan cujo contato poderá ser feito através do
            e-mail </span
          ><a href="mailto:privacidade@adventistas.org"
            ><span>privacidadeadventistas.org</span></a
          ><span>.</span>
        </p>
      </div>
    </div>

    <button _ngcontent-ng-c677104416="" class="scrolltop">
      <span _ngcontent-ng-c677104416="" class="svg-icon">
        <svg
          _ngcontent-ng-c677104416=""
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            _ngcontent-ng-c677104416=""
            opacity="0.5"
            x="13"
            y="6"
            width="13"
            height="2"
            rx="1"
            transform="rotate(90 13 6)"
            fill="currentColor"
          ></rect>
          <path
            _ngcontent-ng-c677104416=""
            d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
            fill="currentColor"
          ></path>
        </svg>
      </span>
    </button>
  </div>
</div>
