  <div class="container-login">
    <div class="row h-100 sign-in">
      <div class="image-login col-7">
        <img src="../assets/media/login-amico.png" alt="Image Login">
      </div>

      <div class="col-5 form-login">
        <div class="form text-center">
          <div class="title">
            <h2> Bem-vindo</h2>
            <span> Faça o login para continuar</span>
          </div>
         <div class="input-wrapper">
          <input type='text' id='input' required />
          <label for='input' class='placeholder'>
            E-mail
          </label>
        </div>
        <div class="input-wrapper">
          <input type='text' id='input' required />
          <label for='input' class='placeholder'>
            Senha
          </label>
        </div>
         <div class="forget-password">
          <span>Esqueceu a senha?</span>
         </div>
         <div class="btn-login">
          <button value="entrar"  (click)="login()">Entrar</button>
         </div>
         <div class="divisor">
          <span> ou </span>
        </div>
        <div class="btn-login">
          <button value="conectar">Conecte-se com SSO </button>
         </div>
         <div class="register">
          <span>Não possui conta?</span>
          <a href=""><span> Cadastre-se</span></a>
         </div>
        </div>
      </div>
    </div>
  </div>
