<app-menu-bar [haveMenuItens]="false"></app-menu-bar>
<div class="container">
  <h2>Configurar Tópicos</h2>

  <form>
    <div class="mb-3">
      <label for="topicSelect" class="form-label">Selecione o tópico</label>
      <select class="form-select" id="topicSelect">
        <option selected>Opção 1</option>
        <option value="1">Opção 2</option>
        <option value="2">Opção 3</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="titleInput" class="form-label">Escreva o título</label>
      <input type="text" class="form-control" id="titleInput">
    </div>

    <div class="mb-3">
      <label for="contentTextarea" class="form-label">Conteúdo</label>
      <textarea class="form-control" id="contentTextarea" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>