<app-menu-bar [haveMenuItens]="true"></app-menu-bar>
<div class="out">
  <div class="title">
    <h2 style="color: #1e5799">Usuários</h2>
  </div>
  <div class="users">
    <app-card [hasPadding]="true">
      <div class="search">
        <app-search (result)="searchByName($event)"></app-search>
      </div>

      <div class="data-table-reports">
        <div class="row d-flex">
          <!-- <div class="col-1 title-table"><input type="checkbox" name="" id="" (change)="selectAll()" /></div> -->
          <div class="col-4 item-table">Nome</div>
          <div class="col-4 title-table">E-mail</div>
          <div class="col-2 title-table">Nível</div>
          <div class="col-2 title-table">Açöes</div>
        </div>
        @for (user of users(); track $index ) {
        <div class="row d-flex align-items-center" style="border-bottom: 1px dashed var(--primary-color-3)">
          <!-- <div class="col-1 title-table"><input type="checkbox" name="" id="" /></div> -->
          <div class="col-4 item-table">{{ user.userName }}</div>
          <div class="col-4 item-table">{{ user.userEmail }}</div>
          <div class="col-2 item-table">{{ user.role | roleTranslation : RoleTypeEnumTranslation }}</div>
          <div class="col-2 item-table">
            <button type="button" class="btn"><span class="material-symbols-outlined" (click)="editUser(user)"> edit </span></button>
            <!-- <button type="button" class="btn"><span class="material-symbols-outlined" (click)="deletUser(user)"> delete </span></button> -->
          </div>
        </div>
        }
      </div>
    </app-card>
  </div>
</div>
@if (openModalEdit) {
<div class="modal">
  <div class="modal-content w-50">
    <span class="material-symbols-outlined" (click)="openModalEdit = !openModalEdit"> close </span>
    <app-form-user [user]="userSelected()" (onChange)="openModalEdit = !$event"></app-form-user>
  </div>
</div>
}
<!-- <app-modal [open]="openConfirmDelete" icon="e5cd" description="Apagar usuário?" messageBtnYes="Sim" messageBtnNo="Cancelar" (result)="onclickCloseModal($event)"></app-modal> -->
