.out {
  margin: 5rem 2rem;

  .data-table-reports {
    margin: 20px;
  }
  .search {
    width: 300px;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .modal-content {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .material-symbols-outlined {
      cursor: pointer;
      position: absolute;
      right: 25px;
    }
  }

  .btns button {
    margin: 1rem 1rem 0;
  }
}
