/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  // Colors
  --primary-color: #0c55f3;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #dedde4;
  --dark-color: #343a40;

  --text-1: #1b1731;
  --text-2: #4f4f5e;
  --text-3: #6a677a;
  --text-4: #9795a0;
  --text-5: #dedde4;
  --text-6: #eae9f0;
  --text-7: #f9f8ff;

  --primary-color-2: #0c55f3;
  --primary-color-3: #eff4ff;

  --secondary-color-1: #f5645e;
  --secondary-color-2: #ffe9e8;

  // Fonts
  --title-font: 1.2rem; /* 19.2px */
  --text-font: 0.8rem;  /* 12.8px */
  --small-font: 0.6rem; /* 9.6px  */

  //Headline
  --h1-font: 3.5rem;  /* 56px */
  --h2-font: 3rem;    /* 48px */
  --h3-font: 2.5rem;  /* 40px */
  --h4-font: 2rem;    /* 32px */
  --h5-font: 1.5rem;  /* 24px */
  --h6-font: 1.25rem; /* 20px */
  --h6-font: 1rem;    /* 15px */

  //Subtitle
  --subtitle-font: 1rem; /* 16px */

  //Body
  --body-small-font: 0.875rem; /* 14px */
  --body-font: 1rem:           /* 16px */
  --body-large-body: 1.125rem; /* 18px */

  //Button
  --button-small-font: 0.875rem; /* 14px */
  --button-font: 1rem:           /* 16px */
  --button-large-body: 1.125rem; /* 18px */

  //Caption
  --caption-font: 0.75rem; /* 12px */

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --font-family-sans-serif: "Inter", sans-serif;
  //--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family-sans-serif), sans-serif !important;
}
