<div class="dash">
  <app-menu-bar [haveMenuItens]="false"></app-menu-bar>

  <div class="content-404">
    <div class="ops">
      <h2>Oops! Parece que você não tem permissões para acessar este conteúdo.</h2>
      <p>
        A página que você está procurando não pôde ser acessada. <br />
        Procure a equipe de <a href="support">suporte</a> para obter mais detalhes.
      </p>
    </div>

    <div class="image-404">
      <img src="../../../assets/media/error-404.png" alt="" class="error-image" />
    </div>

    <div class="return">
      <p>Se você acredita que isso é um erro, por favor, entre em contato conosco para que possamos resolver o problema.</p>
    </div>
  </div>
</div>
